/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-regular);
  background-color: var(--background-color);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.section {
  width: var(--section-width);
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: clamp(122px, calc(0.78vw + 119px), 130px);
  padding-inline: clamp(16px, calc(10.4vw - 23px), 123px);
  background-color: var(--card-background-color);
  margin-top: 98px;
  margin-bottom: 96px;
  border: 2px solid;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo__tag {
  font-family: var(--font-accent), sans-serif;
  font-size: clamp(49px, calc(1.56vw + 43px), 65px);
}

.logo__tagline {
  font-family: var(--font-accent), sans-serif;
  font-size: clamp(14px, calc(0.88vw + 11px), 23px);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.card {
  border: 2px solid;
  background-color: var(--card-background-color);
}

.card__title {
  padding: 5px 10px 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-bold);
  border-bottom: 2px solid;
}

.card__image-container {
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 696 / 700;
  object-fit: cover;
  object-position: 94% 30%;
}

.first_sprint_start__image {
  filter: saturate(30%);
}

.first_sprint_end__image {
  filter: brightness(300%) contrast(50%);
}

.second_sprint_start__image {
  filter: blur(10px) contrast(500%);
}

.second_sprint_end__image {
  filter: sepia(85%);
}

.third_sprint_start__image {
  filter: sepia(35%) saturate(160%) contrast(115%);
}

.third_sprint_end__image {
  filter: grayscale(100%);
}

.current_sprint__image {
  filter: saturate(260%) contrast(150%) brightness(110%) hue-rotate(40deg);
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  text-shadow:
    -1px -1px 0 var(--watermark-stroke-color),
    1px -1px 0 var(--watermark-stroke-color),
    -1px 1px 0 var(--watermark-stroke-color),
    1px 1px 0 var(--watermark-stroke-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px var(--watermark-stroke-color)) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--watermark-stroke-color);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 18px;
  line-height: 1.16;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  display: flex;
  padding: 0;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent);
}

.button {
  position: relative;
  overflow: hidden;
  font-family: var(--font-accent), sans-serif;
  background: var(--button-background-color);
  font-size: 14px;
  border: 2px solid;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:hover::before {
  transform: translateX(0);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-accent);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  padding: 10px 0;
}

.save-section {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.save-section__button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 335px;
  height: 55px;
  padding: 0 0 0 20px;
}

.save-section__floppy {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  color: var(--floppy-color);
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}

.dialog {
  display: none;
  padding: 30px;
  background-color: var(--dialog-background-color);
  border: 2px solid;
  max-width: 357px;
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 20px;
  row-gap: 30px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__floppy {
  width: 39px;
  height: 39px;
}

.dialog__text {
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  grid-column: 1 / -1;
  width: 100%;
  padding: 12px 0;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    margin-top: 100px;
    padding-bottom: 120px;
  }

  .card__content {
    padding-top: 28px;
  }

  .dialog[open] {
    max-width: 340px;
    padding: 28px 40px 28px 38px;
  }

  .dialog__button {
    padding-bottom: 8px;
  }

  .save-section__button {
    flex-direction: column;
    justify-content: center;
    width: 306px;
    height: 84px;
    padding: 0;
    gap: 8px;
  }

  .save-section__floppy {
    width: 28px;
    height: 28px;
  }
}